<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<h1 th:bgcolor="red">恭喜你注册成功</h1>
<!--<div>-->
<!--<form th:action="@{/th/postform}" th:object="${garbage}" method="post">-->
    <!--<div class="col-xs-4 ">-->
        <!--<input type="text" class="form-control" placeholder="请输入垃圾" aria-describedby="basic-addon1" th:field="${garbage.name}"/>-->
    <!--</div>-->
    <!--<div class="col-xs-4 ">-->
        <!--<input type="submit" class="btn btn-success" th:value="添加"></div>-->
    <!--</div>-->
<!--</form>-->

<!--</div>-->
<a href="/user/outUser">退出登录</a>
</body>
</html>